@import '../../../style/variable';

.input {
	background-color: #443b3d;
	border: 1px solid transparent;
	color: white;
	font-size: 16px;
	padding: 14px;
	border-radius: 10px;
	margin-bottom: 0.7rem;
	outline: none;
	width: 100%;
	&:focus {
		border-color: rgba($accent, 0.3);
	}
	&::placeholder {
		color: white;
	}
}
.error {
	color: #8b2d3d;
	font-size: 0.8rem;
	margin-top: 0.2rem;
}
